{% extends "base.html" %}
{% load static %}

{% block title %}
Recurso Digital de Cálculo Aplicado
{% endblock title %}

{% block description %}
<meta name="description" content="{{ book.description }}">
{% endblock description %}

{% block content %}
{% include "includes/header.html" %}
{% include "includes/header-mobile.html" %}

<main class="margin-top-small">
    <section class="section-main">
        <div class="section-main__title flow">
            <h1 class="heading-primary">
                {{book.title|safe}}
            </h1>
            <p class="section-paragraph"> {{book.description}} </p>
        </div>
        <div class="section-main__image">
            <img class="img-svg" src="{{ book.image.url }}" alt="Portada del libro">
        </div>
    </section>

    {% for unit, section in unit_section %}
    <section class="section-unit">
        <div class="section-unit__title flow">
            {% if unit.color == 'yellow' %}
            <h2 class="heading-secondary heading-secondary--{{unit.color}}" style="margin-right: 7.7rem;">
                {{unit.name}}
            </h2>
            {% elif unit.color == 'green' %}
            <h2 class="heading-secondary heading-secondary--{{unit.color}}" style="margin-right: 9.4rem;">
                {{unit.name}}
            </h2>
            {% else %}
            <h2 class="heading-secondary heading-secondary--{{unit.color}}">
                {{unit.name}}
            </h2>
            {% endif %}

            <p class="section-paragraph"> {{unit.description}} </p>
            <a class="btn btn--{{unit.color}}" href="{{section.get_url}}">
                <span class="btn__inner">Ir a la Unidad</span>
            </a>
        </div>
        <div class="section-unit__image">
            <img class="img-svg" src="{{unit.image.url}}" alt="Portada-de-la-Unidad">
        </div>
    </section>
    {% endfor %}
</main>

{% include "includes/footer.html" %}

<!-- Modal Start 1//-->
<div class="modal" aria-labelledby="modal-1" role="modal">
    <button class="modal__button" role="modal-close">
        <svg>
            <use href="{% static 'images/icons/sprite.svg' %}#icon-close-modal" />
        </svg>
    </button>
    <div class="flow modal__content">
        {{ book.about|safe }}
    </div>
</div>
<!-- Modal End 1//-->

<!-- Modal Start 2//-->
<div class="modal" aria-labelledby="modal-2" role="modal">
    <button class="modal__button" role="modal-close">
        <svg>
            <use href="{% static 'images/icons/sprite.svg' %}#icon-close-modal" />
        </svg>
    </button>
    <div class="flow modal__content">

        {{ book.organization|safe }}

        <ul class="modal__list" role="list">
            <li class="modal__item">
                <img class="modal__icon" src="{% static 'images/icons/exercises-list.svg' %}"
                    alt="Listas de ejercicios"> Listas de Ejercicios
            </li>
            <li class="modal__item">
                <img class="modal__icon" src="{% static 'images/icons/activities.svg' %}" alt="Actividades">
                Actividades
            </li>
            <li class="modal__item">
                <img class="modal__icon" src="{% static 'images/icons/assessment.svg' %}" alt="Evaluaciones">
                Evaluaciones
            </li>
            <li class="modal__item">
                <img class="modal__icon" src="{% static 'images/icons/resources.svg' %}" alt="Recursos digitales">
                Recursos
            </li>
        </ul>
    </div>
</div>
<!-- Modal End 2//-->

<!-- Modal Start 3//-->
<div class="modal" aria-labelledby="modal-3" role="modal">
    <button class="modal__button" role="modal-close">
        <svg>
            <use href="{% static 'images/icons/sprite.svg' %}#icon-close-modal" />
        </svg>
    </button>
    <div class="flow modal__content">
        {{ book.about_sections|safe }}
    </div>
</div>
<!-- Modal End 3//-->

{% endblock content %}