container_commands:
  01_migrate:
      command: "django-admin.py migrate"
      leader_only: true
  02_createsuperuser:
    command: "source /var/app/venv/*/bin/activate && echo \"from django.contrib.auth.models import User; User.objects.create_superuser('JergaKanon', 'kevin_ipn@hotmail.com', 'Eugoralabias1+')\" | python3 manage.py shell"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: Book.settings.local