option_settings:
  aws:elasticbeanstalk:application:environment:
    SECRET_KEY: "django-insecure-w$%wunfd2dw@y&q-ghew-_9282&11tnyba6ni7lf&efp!3#6&="
  aws:elasticbeanstalk:container:python:
    WSGIPath: Book.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static